/* Slideshow */

.slideshow {
    margin: 0 auto;
    overflow: visible;
    width: 90vw;
}

.slideshowSlider {
    white-space: nowrap;
    transition: ease 1000ms;
}

.slide {
    display: inline-block;
    height: 500px;
    width: 100%;
    border-radius: 40px;
}

/* Buttons */

.slideshowDots {
    text-align: center;
}

.slideshowDot {
    display: inline-block;
    height: 20px;
    width: 20px;
    border-radius: 50%;

    cursor: pointer;
    margin: 15px 7px 0px;

    background-color: #c4c4c4;
}

.slideshowDot.active {
    background-color: #6a0dad;
}

.slide-image{
    height: 500px;
    width: auto;
}

.slide-parent{
    display: inline-block;
}

.slide-head{
    padding-top: 5em;
}

.titles{
    font-family: 'Outfit',sans-serif;
    font-size: 30pt;
    font-weight: 600;
    margin: 0%;
    margin-left: -0.2rem;
    text-align: left;
    max-width: 70rem;
    color: black;
}

.text-body{
    font-family: 'Outfit',sans-serif;
    font-size: 20pt;
    font-weight: 400;
    margin: 0%;
    text-align: left;
    max-width: 70rem;
    color: black;
}

.information{
    margin: 7em 0 5em 5em;
}

.line{
    border-radius:10px ;
    width: 3rem;
    margin-top:1rem ;
    margin-bottom: 1rem;
    height: 10px;
    background-color: #00B088;
}